@page "/genre/create"
@inject IGenreRepository genreRepository
@inject NavigationManager navigationManager
@attribute [Authorize(Roles = "Admin")]

<h3>Create Genre</h3>

<GenreForm Genre="genre" OnValidSubmit="Create" />

@code {
    private Genre genre = new Genre();

    private async Task Create()
    {
        Console.WriteLine("Create method");
        Console.WriteLine(genre.Name);

        try
        {
            await genreRepository.CreateGenre(genre);
            navigationManager.NavigateTo("genres");
        }
        catch (Exception ex)
        {
            // ...
            Console.WriteLine(ex.Message);
        }
    }
}
