@page "/movies/create"
@inject NavigationManager navigationManager

<h3>CreateMovie</h3>

<button class="btn btn-primary" @onclick="SaveMovie">Save Movie</button>

@code {
    private void SaveMovie()
    {
        // Saving movie...
        Console.WriteLine(navigationManager.Uri);
        navigationManager.NavigateTo("movie");

    }
}
