@page "/"
@page "/index"
@inject IRepository repository

<div>
    <h3>Movie</h3>
    <MoviesList Movies="movies" />
</div>

<CustomTypeahead SearchMethod="SearchMethod">
    <ResultTemplate>
        @context
    </ResultTemplate>
</CustomTypeahead>

@code{
    private List<Movie> movies;
    protected async override Task OnInitializedAsync()
    {
        movies = repository.GetMovies();
    }

    private async Task<IEnumerable<string>> SearchMethod(string searchText)
    {
        await Task.Delay(2000);
        if (searchText == "test") { return Enumerable.Empty<string>(); }
        return new List<string>() { "Felipe", "Gavilanch2" };
    }
}