<div>
    <p>Title: @Movie.Title</p>
    <p>Release Date: <b>@Movie.ReleaseDate.ToString("dd MMM yyyy")</b></p>
    @if (DisplayButtons)
    {
        <div>
            <button @onclick="@(() => DeleteMovie.InvokeAsync(Movie))">Delete</button>
        </div>
    }

</div>

@code {
    [Parameter] public Movie Movie { get; set; }
    [Parameter] public bool DisplayButtons { get; set; } = false;
    [Parameter] public EventCallback<Movie> DeleteMovie { get; set; }
}
