@page "/movie/{MovieId:int}"
@page "/movie/{MovieId:int}/{MovieName}"

<h3>DetailsMovie</h3>

@code {
    [Parameter] public int MovieId { get; set; }
    [Parameter] public string MovieName { get; set; }

    protected override void OnInitialized()
    {
        Console.WriteLine($"The Id of the movie is {MovieId}");
    }
}
