@inject IJSRuntime js
@inject IMoviesRepository moviesRepository

<div class="movies-container">
    <GenericList List="Movies">
        <ElementTemplate Context="movie">
            <IndividualMovie Movie="movie"
                             DeleteMovie="DeleteMovie" @key="movie.Id"  />
        </ElementTemplate>
    </GenericList>
</div>

@code {
    [Parameter] public List<Movie> Movies { get; set; }

    private async Task DeleteMovie(Movie movie)
    {
        await js.MyFunction("custom message");
        var confirmed = await js.Confirm($"Are you sure you want to delete {movie.Title}?");

        if (confirmed)
        {
            await moviesRepository.DeleteMovie(movie.Id);
            Movies.Remove(movie);

        }
    }
}
