@page "/"
@inject SingletonService singleton
@inject IRepository repository
@using static BlazorMovies.Client.Shared.MainLayout;

<p style="color: @AppState.Color">Singleton count: @singleton.Value</p>

<div>
    <h3>Movie</h3>
    <MoviesList Movies="movies" />
</div>

<button @onclick="AddNewMovie">Add new movie</button>

@code{
    [CascadingParameter] public AppState AppState { get; set; }
    private List<Movie> movies;
    protected async override Task OnInitializedAsync()
    {
        //await Task.Delay(2000);
        movies = repository.GetMovies();
    }

    private void AddNewMovie()
    {
        movies.Add(new Movie() { Title = "Movie Sample", ReleaseDate = DateTime.Today });
    }
}